body {
  background-color: dimgrey;
}

.pic img {
  margin-right: 520px;
  border-style: groove;
  border-width: thick;
  border-color: rgba(0, 193, 153, 1);
  border-radius: 100%;
}

h1 {
  text-align: center;
  color: rgba(133, 255, 216, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  letter-spacing: 0.5px;
}

hr {
  color: rgba(133, 255, 216, 1);
  border-style: groove;
  border-color: rgba(0, 193, 153, 1);
  border-radius: 50%;
}

h2:not(.PI) {
  text-align: right;
  color: rgba(133, 255, 216, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-decoration-line: underline;
  text-decoration-color: rgba(0, 193, 153, 1);
  margin-right: 370px;
  letter-spacing: 0.5px;
}

h2.PI {
  text-align: right;
  color: rgba(133, 255, 216, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-decoration-line: underline;
  text-decoration-color: rgba(0, 193, 153, 1);
  letter-spacing: 0.5px;
}

ul:not(.PI) {
  color: rgba(133, 255, 216, 1);
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 340px;
  line-height: 35px;
  letter-spacing: 1.2px;
}

ul.PI {
  color: rgba(133, 255, 216, 1);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 35px;
  letter-spacing: 1.2px;
}

a img {
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  border-radius: 100%;
  border-width: thin;
}
